/*=======================================================================================================================================================================================================================
	Diagnostic row
*/

.x-test-diagnostic-row tr {
	display: none
}

.x-test-diagnostic-row .x-grid3-row-body-tr {
	display : block
}


.x-test-diagnostic-row .x-grid3-row-body {
	line-height : 25px;
	padding-left : 10px;
}



/*=======================================================================================================================================================================================================================
	Assertion row - result cell
*/

.x-test-assert-row-ok-cell {
	background-position: center center;
	background-repeat: no-repeat;
	background-image : url(../img/ok.png) !important;
}


.x-test-assert-row-bug-cell {
	background-position: center center;
	background-repeat: no-repeat;
	background-image : url(../img/bug.png) !important;
}


/*=======================================================================================================================================================================================================================
	Test suite title
*/

.x-test-title .x-panel-body {
	background-color:#1E4176;
	color:white;
	line-height:50px;
	font-size:20px;
	padding-left:10px
}


.joose-logo {
	float : right;
	width : 140px;
	height : 75px;
	background-image : url(../img/logo.png);
	background-repeat: no-repeat;
}


/*=======================================================================================================================================================================================================================
	Row in tests grid - result cell
*/

.x-test-test-status {
	background-position: left center;
	background-repeat: no-repeat;
}

.x-test-test-status div {
	padding-left : 25px;
}

.x-test-test-status-question {
	background-image : url(../img/question.png) !important;
}

.x-test-test-status-failed {
	background-image : url(../img/bug.png) !important;
}

.x-test-test-status-thrown {
	background-image : url(../img/flag.png) !important;
}

.x-test-test-status-working {
	background-image : url(../img/working.png) !important;
}

.x-test-test-status-passed {
	background-image : url(../img/ok.png) !important;
}



/*=======================================================================================================================================================================================================================
	Refresh icon
*/

.x-test-icon-refresh {
	background-image: url(../img/refresh.png) !important;
}

.x-test-icon-refresh-single {
	background-image: url(../img/refresh-single.png) !important;
}
